@use '../color' as colors;

.anas-section {
    color: colors.$color_b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    // font-size: 40px;
    font-size: 6.5vh;
    top: 0;
}