

* {
  padding: 0;
  margin: 0;
  // font-family: "Source Serif 4";
  font-weight: normal;
}

.gloock-regular {
  font-family: "Gloock", "DM Serif Display", "Tai Heritage Pro",
    "Tai Heritage Pro", "Edu QLD Hand", "Manufacturing Consent",
    "Playfair Display", "Libre Bodoni", "Slabo 13px", "Zen Antique Soft","Source Serif 4";
  font-weight: 400;
  font-style: normal;
}

body {
  height: 5200px;
}



