

@media (max-width:470px) {

    .index-page {
        .skills {
            .box {
                .loading {
                    width: 95%;
              
                    box-sizing: border-box;
                }
            }
        }
    }
}


@media (max-width:1450px) {

    .container {
        max-width: 95%;
       
    }
}



